@use "../../../styles//partials/mixins";

.header-tablet-profile-container {
  display: none;
  // IMAGE-WRAPPER
  &__img-wrapper {
    @include mixins.tabletProfileDimension;
    overflow: hidden;
    // IMAGE
    &--img {
      height: 100%;
      margin-left: -5px;
    }
  }
}

//  MEDIA = TABLET = [ ] = 768PX
.header-tablet-profile-container {
  @include mixins.tablet {
    display: block;
  }
}
