@use "../../../../styles/partials/colors";

.video-controls {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 16px;
  padding: 0px 16px;

  // GENERAL RULE FOR BUTTON
  button {
    border-width: 0px;
    outline: none;
  }

  // SCRUB AND TIME-LINE
  .scrubbing-and-time-line-container {
    display: flex;
    gap: 16px;
    flex: 95%;
    padding: 0px 16px;
    background-color: colors.$brainFlixDarkBlack;
    opacity: 50%;
    border-radius: 4px;
  }

  // FULL-SCREEN && VOLUME CONTAINER****
  .full-screen-and-volume-container {
    display: flex;
    gap: 16px;
    height: 40px;
    background-color: colors.$brainFlixDarkBlack;
    opacity: 50%;
    padding: 0px 16px;
    border-radius: 4px;
  }
}

.video-control-hidden {
  display: none;
}
.video-control-show {
  display: flex;
}
