@use "../../../../styles/partials/colors";
@use "../../../../styles/partials/fonts";
@use "../../../../styles/partials/mixins";

.comment-text-container__body {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 16px;
}
//  MEDIA = TABLET = [ ] = 768PX
.comment-text-container__body  {
  @include mixins.tablet {
    font-size: 14px;
  }
}
// //  MEDIA = DESKTOP = [ ] = 1280PX
// .comment-text-container__body  {
//   @include mixins.tablet {
//     font-size: 14px;
//   }
// }