@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";
@use "../../styles/partials/fonts";

.current-vid-info-container__info {
  // DATE, CHANNEL, VIEWS, & LIKES CONTAINER
  .current-vid-date-channel-viwe-like-container {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    font-size: 13px;
    line-height: 18px;
    color: colors.$silver;
    width: 100%;
    padding: 16px 0px;
    border-top: 1px solid colors.$mercury;
    border-bottom: 1px solid colors.$mercury;

    // CHANNEL AND DATE CONTAINER
    .current-vid-channel-and-date-container {
      width: 100%;
      flex: 50%;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .current-vid-channel-and-date-container {
      @include mixins.tablet {
        display: flex;
        gap: 36px;
      }
    }
    // VIEWS AND LIKES CONTAINER
    .current-vid-views-and-likes-container {
      flex: 50%;
      width: 100%;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .current-vid-views-and-likes-container {
      @include mixins.tablet {
        display: flex;
        gap: 36px;
        justify-content: flex-end;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  .current-vid-date-channel-viwe-like-container {
    @include mixins.tablet {
      padding-bottom: 10px;
      border-top: unset;
    }
  }
}


