@use "../../../styles/partials/colors";
@use "../../../styles/partials/fonts";
@use "../../../styles/partials/mixins";

.next-video__text-container--title {
  font-size: 12px;
  font-weight: 600;
  color: colors.$brainFlixDarkBlack;
  text-transform: capitalize;
  padding-bottom: 16px;
}
//  MEDIA = TABLET = [ ] = 768PX
.next-video__text-container--title {
  @include mixins.tablet {
    font-size: 14px;
  }
}
