.video-upload-msg {
  // display: none;
  color: green;
  height: 150px;
  width: 100%;
  position: fixed;
  top: -150px;
  left: 0px;
  transition: 3s;
}
.video-uploaded {
  // display: block;
  font-size: 34px;
  color: #fff;
  top: 0px;
  background-color: green;
}
