@use "../../../../styles/partials/colors";
@use "../../../../styles/partials/mixins";
@use "../../../../styles/partials/fonts";
.video-upload-container__thumbnail-container {
  padding-top: 23px;
  margin-bottom: 14px;
  // HEADER
  &--header {
    font-size: 12px;
    font-weight: 400;
    color: colors.$silver;
    text-transform: uppercase;
    padding-bottom: 9px;
  }
  //  MEDIA = DESKTOP = [ ] = 1280PX
  &--header {
    @include mixins.desktop {
      padding-bottom: 5px;
    }
  }
  // IMAGE-INPUT
  &--img-input {
    margin-bottom: 16px;
    font-size: 13px;
    width: 100%;
  }
  &--img-input::file-selector-button {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 10px;
    text-transform: uppercase;
    color: colors.$white;
    background-color: colors.$brainFlixBlue;
    cursor: pointer;
    border-width: 0px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  &--img-input::file-selector-button:hover {
    background-color: colors.$brainFlixDarkBlue;
  }
  // IMAGE
  &--image {
    border-radius: 4px;
    width: 100%;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &--image {
    @include mixins.tablet {
      width: 50%;
    }
  }
  //  MEDIA = DESKTOP = [ ] = 1280PX
  &--image {
    @include mixins.desktop {
      width: 100%;
    }
  }
}
//  MEDIA = DESKTOP = [ ] = 1280PX
.video-upload-container__thumbnail-container {
  @include mixins.desktop {
    flex: 20%;
    padding-top: 0px;
  }
}
