@use "../../../styles/partials/colors";
@use "../../../styles/partials/fonts";
@use "../../../styles/partials/mixins";

.next-video__text-container--channel {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: colors.$brainFlixBlack;
  text-transform: capitalize;
}
