// PRIMARY COLORS
$brainFlixBlack: #323232;
$brainFlixBlue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
// SECONDARY COLORS
$brainFlixDarkBlack: #000000;
$brainFlixDarkBlue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
// FORM ERROR-STATE COLOR & DELETE BUTTON
$pink: #d22d2d;
// SHOW-DATE HOVER-SELECTED COLOR
$lightGray: #fafafa;
 