@use "../../../styles/partials/colors";
@use "../../../styles/partials/fonts";
@use "../../../styles/partials/mixins";

.current-vid-comment-form {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 16px 0px;

  // LABEL, INPUT & BUTTON CONTAINER
  .current-vid-label-input-button-container {
    width: 100%;
    // LABEL
    &__label {
      display: block;
      font-size: 11px;
      font-weight: 600;
      line-height: 20px;
      color: colors.$silver;
      text-transform: uppercase;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    &__label {
      @include mixins.tablet {
        font-size: 12px;
      }
    }

    // INPUT & BUTTON CONTAINER
    .current-vid-input-and-btn-container {
      width: 100%;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .current-vid-input-and-btn-container {
      @include mixins.tablet {
        display: flex;
        justify-content: space-between;
        gap: 24px;
      }
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.current-vid-comment-form {
  @include mixins.tablet {
    gap: 24px;
  }
}
//  MEDIA = DESKTOP = [ ] = 1280PX
.current-vid-comment-form {
  @include mixins.desktop {
    padding-right: 20px;
  }
}
