@use "../../../styles/partials/colors";
@use "../../../styles//partials/mixins";

.header-search-and-mobile-profile-container__form {
  position: relative;
  flex: 90%;
  // SEARCH ICON
  &--icon {
    position: absolute;
    left: 12px;
    top: 12px;
    top: 50%;
    left: 1.8%;
    transform: translate(50%, -50%);
    height: 14px;
  }
  // DYNAMIC CLASS FROM HeaderSearch.js
  &--icon-display-none {
    display: none;
  }
  // SEARCH FIELD
  &--input-field {
    font-size: 12px;
    padding-left: 32px;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid colors.$mercury;
    outline: none;
    transition: .1s;
  }

  // WHEN HOVER
  &--input-field:hover {
    border-width: 2px;
    border-color: colors.$brainFlixBlue;
  }
  // WHEN FOCUS
  &--input-field:focus {
    border-width: 2px;
    border-color: colors.$brainFlixBlue;
  }
  // INPUT PLACEHOLDER
  &--input-field::placeholder {
    font-size: 12px;
    color: colors.$brainFlixBlack;
    text-transform: capitalize;
  }
  //MEDIA = TABLET = [ ] = 768PX
  &--input-field {
    @include mixins.tablet {
      height: 40px;
      width: 240px;
      padding: 16px 16px 16px 32px;
    }
  }
  // DYNAMIC CLASS FROM HeaderSearch.js
  &--input-field-even-padding {
    padding-left: 16px;
  }
}
// MEDIA = TABLET = [ ] = 768PX
.header-search-and-mobile-profile-container__form {
  @include mixins.tablet {
    flex: unset;
  }
}
