@use "../../../styles/partials/colors";

.header-search-and-mobile-profile-container__form {
  position: relative;
  flex: 90%;
  // SEARCH ICON
  &--icon {
    position: absolute;
    left: 12px;
    top: 12px;
    top: 50%;
    left: 1.8%;
    transform: translate(50%, -50%);
    height: 14px;
  }
  // SEARCH FIELD
  &--input-field {
    height: 36px;
    width: 100%;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid colors.$mercury;
    padding-left: 32px;
  }
  &--input-field:focus {
    border: 2px solid colors.$brainFlixBlue;
  }
  // INPUT PLACEHOLDER
  &--input-field::placeholder {
    font-size: 12px;
    color: colors.$brainFlixBlack;
    text-transform: capitalize;
  }
}
