@use "../../../styles/partials/colors";
@use "../../../styles/partials/mixins";

.current-video-comment-lists-container__list {
  padding: 16px 0px;
  border-bottom: 1px solid colors.$mercury;
  display: flex;
  gap: 16px;
  // COMMENT-TEXTS CONTAINER
  .comment-text-container {
    // NAME & DATE CONTAINER
    &__name-date-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.current-video-comment-lists-container__list {
  @include mixins.tablet {
    padding: 24px 0px;
  }
}
