@use "../../../styles/partials/colors";
@use "../../../styles/partials/fonts";
@use "../../../styles/partials/mixins";

.next-video-channel-and-views-container__views {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  color: colors.$silver;
  text-transform: capitalize;
}
