@use "../../../styles/partials/colors";
@use "../../../styles/partials/mixins";
@use "../../../styles/partials/fonts";

.video-upload-container__header {
  padding-top: 25px;
  font-size: 24px;
  font-weight: 600;
  color: colors.$brainFlixBlack;
}
//  MEDIA = TABLET = [ ] = 768PX
.video-upload-container__header {
  @include mixins.tablet {
    font-size: 33px;
    font-weight: 700;
    padding-top: 36px;
    padding-bottom: 8px;
  }
}
