@use "../../../styles/partials/colors";
@use "../../../styles/partials/mixins";

.current-vid-comment-form-btn-container {
  width: 100%;
  padding-top: 16px;
  // ADD BUTTON
  &__button {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 10px;
    text-transform: uppercase;
    color: colors.$white;
    background-color: colors.$brainFlixBlue;
    border-width: 0px;
    border-radius: 4px;
    // ADD ICON
    &--icon {
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translate(50%, -50%);
      height: 16px;
    }
  }
}
