@use "../../../styles/partials/colors";
@use "../../../styles/partials/mixins";

.current-vid-input-and-btn-container__input-container {
  width: 100%;
  // *** INPUT-MOBILE *** //
  &--input-mobile {
    width: 100%;
    height: 100px;
    text-align: leftF;
    padding: 12px;
    border: 1px solid colors.$mercury;
    border-radius: 4px;
    resize: none;
  }

  //  MEDIA = TABLET = [ ] = 768PX
  &--input-mobile {
    @include mixins.tablet {
      display: none;
    }
  }
  // PLACEHOLDER
  &--input-mobile::placeholder {
    color: colors.$brainFlixBlack;
    font-size: 12px;
  }

  //  MEDIA = TABLET = [ ] = 768PX
  &--input-mobile::placeholder {
    @include mixins.tablet {
      font-size: 14px;
    }
  }

  // *** INPUT TABLET & DESKTOP **** //
  &--input-tablet {
    display: none;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &--input-tablet {
    @include mixins.tablet {
      display: block;
      height: 40px;
      width: 100%;
      padding: 12px;
      border: 1px solid colors.$mercury;
      border-radius: 4px;
    }
  }
  // PLACEHOLDER
  &--input-tablet::placeholder {
    color: colors.$brainFlixBlack;
    font-size: 12px;
  }

  //  MEDIA = TABLET = [ ] = 768PX
  &--input-tablet::placeholder {
    @include mixins.tablet {
      font-size: 14px;
    }
  }
}
