@use "../../../styles/partials/colors";
@use "../../../styles/partials/mixins";
.current-vid-input-and-btn-container__input-container {
  width: 100%;
  // INPUT-FIELD
  &--input {
    width: 100%;
    height: 100px;
    text-align: leftF;
    padding: 12px;
    border: 1px solid colors.$mercury;
    border-radius: 4px;
    resize: none;
  }
  // PLACEHOLDER
  &--input::placeholder {
    color: colors.$brainFlixBlack;
    font-size: 12px;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &--input {
    @include mixins.tablet {
      height: 40px;
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &--input::placeholder {
    @include mixins.tablet {
      font-size: 14px;
    }
  }
}
