@use "../../../styles/partials/colors";
@use "../../../styles/partials/mixins";
@use "../../../styles/partials/fonts";

.current-vid-channel-and-date-container__channel {
  font-size: 13px;
  font-weight: 600;
  color: colors.$brainFlixBlack;
  text-transform: capitalize;
  padding-bottom: 16px;
}
//  MEDIA = TABLET = [ ] = 768PX
.current-vid-channel-and-date-container__channel {
  @include mixins.tablet {
    font-size: 14px;
    padding-bottom: 0px;
  }
}
