.header-logo-container {
  // HEADER-LOGO-CONTAINER
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  // LOGO
  &__log {
    display: block;
    height: 25px;
    width: 120px;
  }
  // WHEN HOVER
  &__logo:hover {
    cursor: pointer;
  }
}
