// PARTIALS
@use "../../styles//partials/mixins";
.header {
  display: flex;
  // PROFILE-MOBILE

  

  // PROFILE-TABLET & DESKTOP
  &__profile-tab-desk {
    display: none;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__profile-tab-desk {
    @include mixins.tablet {
      display: inline-block;
    }
  }
}
