@use "../../styles/partials/mixins";
@use "../../styles/partials/colors";
.video-section__current-video-container {
  background-color: colors.$brainFlixBlack;
  width: 100%;
  display: flex;
  justify-content: center;
  // CURRENT VIDEO
  &--video {
    width: 100%;
    height: 56.25%;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &--video {
    @include mixins.tablet {
      padding: 0px 36px;
    }
  }
  //  MEDIA = DESKTOP = [ ] = 1280PX
  // &--video {
  //   @include mixins.desktop {
  //     max-width: 1040px;
  //   }
  // }
}
