@use "../../styles/partials/mixins";
@use "../../styles/partials/colors";
.video-section__current-video-container {
  background-color: colors.$brainFlixBlack;
  width: 100%;
  display: flex;
  justify-content: center;
  // CURRENT VIDEO
  &--video {
    width: 100%; // == 320px;
    height: 180px;
    // height: calc(100% * 9 / 16);
  }
}
