@use "../../../../styles/partials/mixins";

.current-vid-views-and-likes-container__likes {
  display: flex;
  align-items: center;
  gap: 10px;
  // LIKES LOGO
  &--logo {
    display: block;
    cursor: pointer;
  }
  // LIKES COUNT

  &--number {
    display: block;
  }
}

//  MEDIA = TABLET = [ ] = 768PX
.current-vid-views-and-likes-container__likes {
  @include mixins.tablet {
    font-size: 13px;
  }
}
