@use "../../../styles/partials/colors";
@use "../../../styles/partials/mixins";

.current-video-wrapper-level-2 {
  background-color: colors.$brainFlixDarkBlack;
  // WRAPPER-LEVEL:1
  .current-video-wrapper-level-1 {
    // WRAPPER-LEVEL:0
    .current-video-wrapper-level-0 {
      box-sizing: border-box;
      width: 100%;
      height: 0%;
      position: relative;
      padding-top: 56.25%;

      // CURRENT VIDEO
      &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  .current-video-wrapper-level-1 {
    @include mixins.tablet {
      padding-left: 36px;
      padding-right: 36px;
    }
  }
  //  MEDIA = DESKTOP = [ ] = 1280PX
  .current-video-wrapper-level-1 {
    @include mixins.desktop {
      width: 885px;
      margin: auto;
    }
  }
}
