@use "../../../../styles/partials/colors";
@use "../../../../styles/partials/mixins";

.video-upload-btn-container {
  width: 100%;
  padding-top: 16px;
  // NAV-LINK
  .video-upload-btn-container__nav-link {
    text-decoration: none;
  }
  // UPLOAD
  .upload-button {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 10px;
    text-transform: uppercase;
    color: colors.$white;
    background-color: colors.$silver;
    border-width: 0px;
    border-radius: 4px;
    // ADD ICON
    &__icon {
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translate(50%, -50%);
      height: 16px;
    }
  }
  // DYNAMIC REACT.JS CLASS
  .upload-button-enable-background-color {
    background-color: colors.$brainFlixBlue;
  }
  // WHEN HOVER
  .upload-button-enable-background-color:hover {
    background-color: colors.$brainFlixDarkBlue;
    cursor: pointer;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  .upload-button {
    @include mixins.tablet {
      width: 150px;
      font-size: 12px;
    }
  }

  // CANCEL
  &__cancel-button {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 10px;
    color: colors.$brainFlixBlue;
    text-transform: uppercase;
    background-color: colors.$white;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
  }
  &__cancel-button:hover {
    color: colors.$white;
    background-color: colors.$pink;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__cancel-button {
    @include mixins.tablet {
      width: 150px;
      font-size: 12px;
      margin-top: 0px;
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.video-upload-btn-container {
  @include mixins.tablet {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 16px;
    padding-top: 20px;
  }
}
