@use "../../../../styles/partials/colors";
@use "../../../../styles/partials/fonts";
@use "../../../../styles/partials/mixins";

.comment-text-container__name-date-container--date {
  font-size: 12px;
  font-weight: 400;
  color: colors.$silver;
}
//  MEDIA = TABLET = [ ] = 768PX
.comment-text-container__name-date-container--date {
  @include mixins.tablet {
    font-size: 13px;
  }
}
