@use "../../../../styles/partials/colors";
@use "../../../../styles/partials/fonts";
@use "../../../../styles/partials/mixins";

.comment-text-container__moment {
  font-size: 12px;
  line-height: 18px;
  color: colors.$silver;
}
//  MEDIA = TABLET = [ ] = 768PX
.comment-text-container__moment  {
  @include mixins.tablet {
    font-size: 13px;
  }
}