@use "../../../../../styles/partials/colors";
@use "../../../../../styles/partials/fonts";
@use "../../../../../styles/partials/mixins";

.comment-text-container__name-date-container--name {
  font-size: 12px;
  font-weight: 600;
  color: colors.$brainFlixBlack;
  text-transform: capitalizeF;
}
//  MEDIA = TABLET = [ ] = 768PX
.comment-text-container__name-date-container--name {
  @include mixins.tablet {
    font-size: 13px;
  }
}
